{% extends "base.html" %}
{% load static %} 


{% block content %} 
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Welcome
                </h1>
                <div class="text-white border-black rounded bg-dark p-3 py-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti placeat magnam neque quasi dolore dolorum quidem, commodi voluptate ex recusandae culpa excepturi expedita eius unde blanditiis facilis reiciendis laudantium dolores!
                </div>
                <div class = "my-5">
                    <h4>
                        <a href="{% url 'projects' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Check out my projects</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}