{% extends "base.html" %}
{% load static %} 

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %} 
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="project-container col-10 offset-1">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-last mb-5">
                    draw all the stuff about the project here plzthx
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card h-10 border-0">
                        <h5 class="card-title">
                            Pay here!
                        </h5>
                        {% load crispy_forms_tags %}
                        <div class="card-body pb-0">
                            <form method="post" style="margin-top: 1.3em;">
                                {{ order_form | crispy }}
                                {% csrf_token %}
                                <fieldset class"px-3">
                                    <legend class="fieldset-label email text-black">Payment</legend>
                                    <!-- STRIPE magic stuff-->
                                    <div class="mb-3" id="card-element"></div>
                                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                </fieldset>
                                <div class="btn rounded-0" id="submit-button">

                                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                                    <span>Your card will be charged <strong>£{{project.price|floatformat:2}}</strong></span>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}