<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-link" data-toggle="dropdown">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="typeFilter">
                <a href="{% url 'projects' %}" class="dropdown-item"><b>All</b></a>
                <a href="{% url 'projects' %}?category=mods" class="dropdown-item">Mods</a>
                <a href="{% url 'projects' %}?category=art" class="dropdown-item">Art</a>
                <a href="{% url 'projects' %}?category=misc" class="dropdown-item">Misc</a>
            </div>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{%url 'projects_funded'%}" id="yours-link">
                Your Items
            </a>
        </li>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{%url 'project_request'%}" id="newCommision-link">
                New Commision
            </a>
        </li>
    </ul>
</div>