<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-link" data-toggle="dropdown">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="typeFilter">
                <a href="{% url 'projects' %}" class="dropdown-item"><b>All</b></a>
                {%for c in all_categories%}
                    <a href="{% url 'projects' %}?category={{c.name}}" class="dropdown-item">{{c}}</a>
                {%endfor%}
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{%url 'project_request'%}" id="newCommision-link">
                New Commision
                {% if not request.user.is_authenticated %}
                    (<i class="fas fa-sign-in-alt"></i>)
                {%endif%}
            </a>
        </li>
    </ul>
</div>