{% extends "base.html" %}
{% load static %} 


{% block content %} 
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 ">
            <div class="row">
                <div class="col comments" style="padding: 10px;">
                    <div class="card h-10 border-0">
                        <h5 class="card-title">
                            Suggest a new Project for me!
                        </h5>
                        {% load crispy_forms_tags %}
                        <div class="card-body pb-3">
                            <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                                {{ project_form | crispy }}
                                <!-- calculate a price based on category + timescale-->

                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-lg" name="action" value="submit">Submit</button>
                                <button type="submit" class="btn btn-info btn-lg" name="action" value="fund">Submit and Proceed to Fund</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        
    </div>

</div>
{% endblock %}
{% block postloadjs %} 
{{block.super}}
<script type = "text/javascript">
    function update() {
        var scale = $('#id_scale').val()
        var category = $('#id_category option:selected').text()
        price = {{costDistribution|safe}}[scale + " " + category]
        if (!price) {
            price = "n/a"
        }
        else {
            price = "£" + price.toFixed(2);
        }
        $('#id_priceEstimate').val(price)
    }
    $('#id_scale').change(update)
    $('#id_category').change(update)
</script>
{% endblock %}