{% extends "base.html" %}
{% load static %} 


{% block content %} 
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 ">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">{{ project.name }}</h2>
                    <hr class="w-50 mb-1">
                </div>
            </div>
            <div class="row rounded bg-white">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="image-container my-5">
                        {% if project.image %}
                            <a href="{{ project.image.url }}" target="_blank">
                                <img class="card-img-top img-fluid border border-dark" src="{{ project.image.url }}" alt="{{ project.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid border border-dark" src="{{ MEDIA_URL }}noimage.png" alt="{{ project.name }}">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="project-details-container mb-5 mt-md-5">
                        {% if not project.approved and request.user.is_superuser %}
                            <div class="text-center">
                                <a class="btn btn-danger float-center" href="{% url 'edit_project' project.id %}" role="button">Project not yet approved - edit now?</a>
                            </div>
                        {%endif%}
                        <p class="lead mb-0 text-left">
                        {% if project.startDate %} 
                            {{project.startDate}} - {{projectEndDate}}
                        {% else %}
                            Project expected to take {{project.expectedLength}}
                        {% endif %}
                        </p>
                        <p class="lead mb-0 text-left font-weight-bold">Funding cost: £{{ project.price }} {% if project.commission %}- <i>funded</i>{%endif%}</p>
                        {% if project.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-muted" href="{% url 'projects' %}?category={{ project.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ project.category.friendly_name }}
                                </a>
                            </p>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'edit_project' project.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_project' project.id %}">Delete</a>
                            </small>
                        {% endif %}
                        <p class="mt-3">{{ project.description }}</p>

                        {% if project.suggester %}
                            <p class="mt-3"><i>initially suggested by <strong>{{project.suggester}}</strong></i></p>    
                        {%endif%}
                    
                        {% if project.commission %} 
                            <p class="mt-3"><i>funded by <strong>{{project.commission.user}}</strong></i></p>               
                        {% elif request.user.is_authenticated %}
                            <div class="text-center">
                                <a class="btn btn-primary float-center" href="{%url 'checkout' project.id%}" role="button">Fund this project for £{{project.price}}!</a>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <a class="btn btn-info float-center" href="#" role="button">Please log in if you want to fund this item!</a>
                            </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col comments" style="padding: 10px;">
                    {%for comment in comments%}
                        <div class="card border-0 text-dark">
                            <b>{{comment.owner}} - {{comment.header}}</b>
                            <div class="card-body pb-0">
                                <p class="mb-0">
                                    {{comment.body}}
                                </p>
                            </div>
                            <div class="card-footer pt-0 bnorder-0 text-left">
                                <i>made on {{comment.created_on}}</i>
                            </div>
                            {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'delete_comment' project.id comment.id %}">Delete</a>
                                </small>
                            {% endif %}
                        </div>
                        <hr>
                    {%endfor%}
                    {% if request.user.is_authenticated %}
                        <div class="card h-10 border-0">
                            <h5 class="card-title">
                                Leave a Comment!
                            </h5>
                            {% load crispy_forms_tags %}
                            <div class="card-body pb-0">
                                <form method="post" style="margin-top: 1.3em;">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
        
    </div>

</div>
{% endblock %}